.message-card {
    margin: 10px;
}

.message-card-title {
    margin-top: 6px;
}

.message-card-default-avatar {
    border-radius: 0;
}

.message-card-content {
    margin-top: 10px;
}

.message-card-actions {
    padding: 0;
    text-align: right;
}

.message-card-no-results {
    text-align: center;
    margin-top: 40px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
