<mat-card class="message-card" *ngFor="let message of messages">
    <mat-card-header>
        <img
            mat-card-avatar
            [src]="message.senderImageUrl || 'assets/eye.png'"
            [class.message-card-default-avatar]="!message.senderImageUrl"
        />
        <mat-card-title class="message-card-title">{{ message.senderName }}</mat-card-title>
        <mat-card-subtitle *ngIf="!message.content">{{ message.preview }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="message-card-content">
        <pre>{{ message.content }}</pre>
    </mat-card-content>
    <mat-card-actions class="message-card-actions">
        <p *ngIf="message.hasMore">+{{ message.unreadMessagesCount - 1 }} more</p>
    </mat-card-actions>
</mat-card>

<div class="message-card-no-results" *ngIf="!messages.length">
    <h1>No results</h1>
</div>
